// Color CSS variables

:root {
  &.light {
    --color-primary: hsl(220, 98%, 61%);
    --color-gradient-1: hsl(192, 100%, 67%);
    --color-gradient-2: hsl(280, 87%, 65%);

    --color-bg-1: hsl(0, 0%, 98%);
    --color-bg-2: hsl(0, 0%, 98%);

    --color-text-1: hsl(235, 19%, 35%);
    --color-text-2: hsl(236, 9%, 61%);
    --color-text-3: hsl(233, 11%, 84%);
  }

  &.dark {
    --color-primary: hsl(220, 98%, 61%);
    --color-gradient-1: hsl(192, 100%, 67%);
    --color-gradient-2: hsl(280, 87%, 65%);

    --color-bg-1: hsl(235, 21%, 11%);
    --color-bg-2: hsl(235, 24%, 19%);

    --color-text-1: hsl(234, 39%, 85%);
    --color-text-2: hsl(234, 11%, 52%);
    --color-text-3: hsl(237, 14%, 26%);
  }
}

// Breakpoint Sass variables

$breakpoint-mobile: 37.5em;
$breakpoint-desktop: 90em;
$breakpoint-desktop-medium: 105em;
$breakpoint-desktop-large: 120em;
$breakpoint-desktop-xlarge: 160em;
